 <!-- ======= About Section ======= -->
 <section id="about" class="about section-bg">
    <div class="container">
        <div class="col-lg-12 text-center">
            <!-- Change the name of your college -->
            <h1 data-aos="fade-up" , style="font-family: 'Raleway', sans-serif;"><b>IIIT Dharwad</b><br><br><br></h1>
        </div>
        <div class="col-lg-12 text-center row">
            <div class="col-lg-4 pt-5 pt-lg-0">
                <h3 data-aos="fade-up" , style="font-family: 'Raleway', sans-serif; text-align:center">FOUNDATION</h3>
                <p data-aos="fade-up" data-aos-delay="100">
                    <!-- Add the content here -->
                    <h4 data-aos="fade-up" , style="font-family: 'Roboto', sans-serif; text-align:center">The Indian Institute of Information Technology Dharwad is one of the 20 IIITs proposed under non-profit, Public-Private Partnership model set up by the Ministry of Human Resource Development (MHRD), Government of India. It
                        is an academic and research institute funded by the Government of India, Government of Karnataka and industrial partner Keonics. Recently, the institute has been declared as an Institute of National Importance under the
                        Indian Institutes of Information Technology Public-Private Partnership Act of Parliament (No. 23 of 2017).</h4>
                </p>
            </div>
            <div class="col-lg-4 pt-5 pt-lg-0" style="text-align:center">
                <!-- Add the logo / url of the logo here -->
                <img data-aos="fade-up" data-aos-dalay="200" src="img/iiit_logo/dharwad.png" height="250px" width="250px" alt="Logo | IIIT Dharwad | IIITians Network">
            </div>
            <div class="col-lg-4 pt-5 pt-lg-0" style="text-align:center">
                <h3 data-aos="fade-up" , style="font-family: 'Raleway', sans-serif;">STUDENT LIFE</h3>
                <p data-aos="fade-up" data-aos-delay="100">
                    <h4 data-aos="fade-up" , style="font-family: 'Roboto', sans-serif;">Life @IIITDWD is ‘Adventure every day’. It is just the hard work of earlier batches that the institute right now has 20 fully functioning clubs, committees and societies. 10 sports clubs, 6 cultural clubs and 4 technical clubs
                        are flourishing in the wonderful ambience of the institute. The new massive campus is well equipped with all the facilities required for overall growth of the students. Institute has consistently grabbed attention in various
                        national level competitions and is aspiring for more success. Want to witness progress? Welcome to IIIT Dharwad!</h4>
                </p>
            </div>
        </div>
    </div>
</section>
<!--==================== Department Section ========================== -->
<section id="services" class="services section-bg" ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch " data-aos="zoom-in " data-aos-delay="100 ">
                <div class="icon-box ">
                    <!-- Change the icon here. Use icon on this site https://boxicons.com/ -->
                    <div class="icon "><i class="bx bxl-dribbble"></i></div>
                    <!-- Change the content here -->
                    <h4 class="title " , style="font-family: 'Raleway', sans-serif; "><a href=" ">Computer Science</a></h4>
                    <p class="description " , style="font-family: 'Roboto', sans-serif; ">The Institute offers B.Tech and Doctoral degrees. With areas of research as Data Analytics, Artificial Intelligence, Machine Learning, Cryptography & Network Security, Computer Networks and Algorithms</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch " data-aos="zoom-in " data-aos-delay="200 ">
                <div class="icon-box ">
                    <div class="icon "><i class="bx bx-chip"></i></div>
                    <h4 class="title " , style="font-family: 'Raleway', sans-serif; "><a href=" ">Electrical Engineering</a></h4>
                    <p class="description " , style="font-family: 'Roboto', sans-serif; ">The Institute offers B.Tech and Doctoral degrees. With areas of research as Chip Designing (VLSI), Micro-Electro-Mechanical Systems (MEMS), Signal and Speech Processing, Communication, Robotics, Sensors and Internet of Things </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========== Department section end ================-->