<!--============ Club Section ==========================-->
<section>
    <div class="container text-center ">
        
        <div class="col-lg-12 text-center ">
            <h2 style="font-family: 'Raleway', sans-serif; ">CLUBS<br><br><br></h2>
        </div>
        
        <div class="col-lg-12 text-left ">
            <h2 style="font-family: 'Raleway', sans-serif; ">CULTURAL<br><br></h2>
        </div>
        
        <div class="row col-lg-12 text-center ">
            
                <!-- Club part start -->
                <div class="col-lg-4 " style="padding-bottom:30px " data-aos="fade-up ">
                    <!-- Change the club logo here -->
                    <img src="img/dharwad/club/cultural/picturesque.jpg " alt="Picturesque | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
                    <div>
                        <!-- Add the club details here -->
                        <h2 style="font-family: 'Raleway', sans-serif; ">Picturesque</h2>
                        <h3>
                            <a href="# "><i class="fa fa-instagram "></i></a>
                            <a href="# "><i class="fa fa-facebook "></i></a>
                            <a href="# "><i class="fa fa-youtube "></i></a>
                            <a href="# "><i class="fa fa-envelope "></i></a>   
                            <a href="# "><i class="fa fa-globe "></i></a>
                        </h3>
                        <p class="title ">Photography</p>
                    </div>
                </div>
<!-- Club part end -->
<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/cultural/drama.jpg " alt="Roopantaran | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Roopantaran</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Drama Club</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/cultural/dace.jpg " alt="Dance | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Dance</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Dance Club</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/cultural/literature.JPG " alt="Literature | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Literature</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Literary Club</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/cultural/music.jpg " alt="PlugIn | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">PlugIn</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Music Club</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/cultural/cultural.png " alt="Yuvaan  | Club | Cultural Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Yuvaan</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Cultural Club</p>
    </div>
</div>


<div class="col-lg-12 text-left ">
<h2 style="font-family: 'Raleway', sans-serif; ">SCIENCE AND TECHNOLOGY<br><br></h2>
</div>

<div class="row col-lg-12 text-center">

<!-- Club part start -->
<div class="col-lg-4 " style="padding-bottom:30px " data-aos="fade-up ">
    <!-- Change the club logo here -->
    <img src="img/dharwad/club/Technical/return0.jpg " alt="Return_0 | Club | Science and Technical Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <!-- Add the club details here -->
        <h2 style="font-family: 'Raleway', sans-serif; ">Return_0</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The coding club</p>
    </div>
</div>
<!-- Club part end -->

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/Technical/robotics.jpg " alt="Robotics | Club | Science and Technical Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Robotics</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">The Robotics Club</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/Technical/ecell.png " alt="E-Cell | Club | Science and Technical Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">E-Cell</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Entrepreneurship Cell</p>
    </div>
</div>

</div>

<div class="col-lg-12 text-left ">
<h2 style="font-family: 'Raleway', sans-serif; ">SPORTS<br><br></h2>
</div>

<div class="row col-lg-12 text-center ">

<!-- Club part start -->
<div class="col-lg-4 " style="padding-bottom:30px " data-aos="fade-up ">
    <!-- Change the club logo here -->
    <img src="img/dharwad/club/sports/football.png " alt="IIIT DWD FC | Football Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <!-- Add the club details here -->
        <h2 style="font-family: 'Raleway', sans-serif; ">IIIT DWD FC</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Football</p>
    </div>
</div>
<!-- Club part end -->

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/cricket.jpg " alt="Attitctus Legends | Cricket Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Attictus Legends</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Cricket</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/badminton.jpg " alt="IIIT DWD Badmintion Club | Badminton Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">IIIT Dharwad Badminton Club</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Badminton</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/basketball.jpg " alt="B-Hoggers | Basketball Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">B-Hoggers</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Basketball</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/lawntennis.jpg " alt="Lawn Tennis Acers | Lawn Tennis Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Lawn Tennis Acers</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Lawn Tennis</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/tabletennis.png " alt="IIIT Dharwad TT Fraternity | Table Tennis Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">IIIT Dharwad TT Fraternity</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Table Tennis</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/volleyball.jpg " alt="Volleyball Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Volleyball</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Volleyball</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/chess.jpg " alt="Chess Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Chess</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Chess</p>
    </div>
</div>

<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/carrom.jpg " alt="Carrom Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Carrom</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Carrom</p>
    </div>
</div>


<div class=" col-lg-4 " style="padding-bottom:20px " data-aos="fade-up ">
    <img src="img/dharwad/club/sports/athletics.jpg " alt="Athletics Club | Club | Sports Club IIIT Dharwad | IIIT Dharwad | IIITians Network" style="width:250px;height:250px;text-align:center ">
    <div>
        <h2 style="font-family: 'Raleway', sans-serif; ">Athletics Club</h2>
        <h3>
            <a href="# "><i class="fa fa-instagram "></i></a>
            <a href="# "><i class="fa fa-facebook "></i></a>
            <a href="# "><i class="fa fa-youtube "></i></a>
            <a href="# "><i class="fa fa-envelope "></i></a>   
            <a href="# "><i class="fa fa-globe "></i></a>
        </h3>
        <p class="title ">Athletics</p>
    </div>
</div>


</div>

</div>
</section>
<!--================== Club section ended ==============-->  