  <!--=========Top Carousel ===============-->
  <section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <!-- Change slider images from here -->
                    <div class="carousel-background"><img class="img" src="img/dharwad/1.jpg" style="height:100vh" alt="Campus | IIIT Dharwad | IIITians Network"></div>
                    <div class="carousel-container">
                        <div class="carousel-content" data-aos="fade-up">
                            <!--Change the content and heading from here -->
                            <h2 class="animated fadeInDown" , style="font-family: 'Raleway', sans-serif;">IIIT<span> Dharwad</span></h2>
                            <p class="animated fadeInUp" , style="font-family: 'Roboto', sans-serif;">The transit campus of IIIT Dharwad is in Hubli. The permanent campus will start functioning from 2020.</p>
                            <a href="#about" class="btn-get-started animated fadeInUp scrollto">More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item">
                    <div class="carousel-background"><img class="img" src="img/dharwad/2.jpg" style="height:100vh" alt="Campus | IIIT Dharwad | IIITians Network"></div>
                    <div class="carousel-container">
                        <div class="carousel-content" data-aos="fade-up">
                            <h2 class="animated fadeInDown" style="font-family: 'Raleway', sans-serif;">IIIT Dharwad Acad Block</h2>
                            <p class="animated fadeInUp" , style="font-family: 'Roboto', sans-serif;">The Academic block where the functioning of classes takes place</p>
                            <a href="#about" class="btn-get-started animated fadeInUp scrollto">More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item">
                    <div class="carousel-background"><img class="img" src="img/dharwad/3.jpg" style="height:100vh" alt="Campus | IIIT Dharwad | IIITians Network"></div>
                    <div class="carousel-container">
                        <div class="carousel-content" data-aos="fade-up">
                            <h2 class="animated fadeInDown" , style="font-family: 'Raleway', sans-serif;">IIIT Dharwad Hostels</h2>
                            <p class="animated fadeInUp" , style="font-family: 'Roboto', sans-serif;">IIIT Dharwad has 4 Boys Hostels and 2 Girls Hostels.</p>
                            <a href="#about" class="btn-get-started animated fadeInUp scrollto">More</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-thin-double-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-thin-double-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section>

<!--=========End Header Carousel section =========-->