        <!--======== Data Section =========-->
        <section>
            <div class="container ">
                                     
                <div class="row " style="margin: 2rem auto; text-align:center ">
                    
                        <div class="col-lg-12 ">
                            <h1 data-aos="fade-up ", style="font-family: 'Raleway', sans-serif; "><b>NEWS & UPDATES</b><br><br></h1>
                        </div>
                    
                        <!-- Individual data section start-->
    
                        <div class="col-lg-4 " data-aos="fade-up " data-aos-delay="200 " style="padding-bottom:20px ">          
                                <h3 style="font-family: 'Raleway', sans-serif; ">Traditional day and Matrubhasha Divas</h3>
                            <hr class="highlight ">
                                <h5 style="font-family: 'Roboto', sans-serif; ">Our Tradition is what defines us. IIIT Dharwad celebrated the TRADITIONAL DAY & MATRUBHASHA DIVAS on 25th February 2020, cherishing one's culture. Both the faculty and students came forward with innovative ideas making it a Memorable day. Several skits threw light on most sensitive topics of our society such as Sexual Harassment, and many speeches were delivered by pupils in their native languages. All in all this day has now become a crucial one in the legacy of our college.</h5><hr>
                                <img class="d-block w-100 desk " src="./img/dharwad/news/news2.jpg " alt="News | IIIT Dharwad | IIITians Network">
                        </div>
    
                        <div class="col-lg-4 " data-aos="fade-up " data-aos-delay="200 " style="padding-bottom:20px ">          
                                <h3 style="font-family: 'Raleway', sans-serif; ">Convocation 2019 with gaiety and gusto</h3>
                            <hr class="highlight ">
                                <h5 style="font-family: 'Roboto', sans-serif; ">The first convocation ceremony of IIIT Dharwad was commemorated with a lot of zeal in August 2019. The first batch had started its endeavour in the academic year of 2015. Despite being only the first batch of the college the students provided the college with a lot of recognition and for that, the college is eternally grateful to them. The Director and all the teachers extended warm greetings to them and wished them luck for their future ahead.</h5><hr>
                                <img class="d-block w-100 desk " src="./img/dharwad/news/news1.jpg " alt="News | IIIT Dharwad | IIITians Network">
                        </div>
    
                </div>     
                
            </div>
        </section>
        <!--======== Data Section over ===========-->
    
 