     <!--================== Image slider section ============-->
     <section>
        <div class="container-fluid">
                  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  
                      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
                      <div class="carousel-inner" role="listbox">
  
                          <!-- Slide 1 -->
                          <div class="carousel-item active">
                              <!-- Change slider images from here -->
                              <div class="carousel-background"><img class="img" src="img/dharwad/fest/1.jpg "  style="width:100%;-moz-background-size: cover;-o-background-size: cover; background-size:cover" alt="Fest | IIIT Dharwad | IIITians Network" /></div>
                              <div class="carousel-container">
                              </div>
                          </div>
  
                          <!-- Slide 2 -->
                          <div class="carousel-item">
                              <div class="carousel-background"><img class="img" src="img/dharwad/fest/2.jpg " style="width:100%;-moz-background-size: cover;-o-background-size: cover; background-size: cover "alt="Fest | IIIT Dharwad | IIITians Network"/></div>
                              <div class="carousel-container">
                              </div>
                          </div>
  
                          <!-- Slide 3 -->
                          <div class="carousel-item">
                              <div class="carousel-background"><img class="img" src="img/dharwad/fest/3.jpg " style="width:100%;-moz-background-size: cover;-o-background-size: cover; background-size: cover "alt="Fest | IIIT Dharwad | IIITians Network"/></div>
                              <div class="carousel-container">
                           </div>
                          </div>
                          <!-- Slide 4 -->
                          <div class="carousel-item">
                              <div class="carousel-background"><img class="img" src="img/dharwad/fest/4.jpg "style="width:100%;-moz-background-size: cover;-o-background-size: cover; background-size: cover "alt="Fest | IIIT Dharwad | IIITians Network" /></div>
                              <div class="carousel-container">
                           </div>
                          </div>
  
  
                      </div>
          <div>
                      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon icofont-thin-double-left" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                      </a>
  
                      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon icofont-thin-double-right" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                      </a>
  
                  </div>
              </div>
              </section>
  
          <!--======== Fest Part Ended ======-->